#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    padding: 8px;
    font-size: 20px;font-weight: bold; height: 80px;font-family: 'Courier New', monospace;
    color: white;
}

#customers tr:nth-child(even){ background-color: slategrey;}
#customers tr:nth-child(even){ background-color: darkgray;}
#customers tr:hover {background-color: #202020;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1abc9c;
    color: white;
}
body{
    background-image: url("1.gif");
}
commandButton{
    width: 30%;
}
.buttons{
    padding: 50px;
}